*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburguer{
    position: relative;
    height: 290px;
    width: 400px;

    &::after{
        content: '';
        height: 100px;
        width: 400px;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        background: #dca540;
        position: absolute;
        top: 0;
    }
    &::before{
        content: '';
        height: 55px;
        width: 400px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background: #dca540;
        position: absolute;
        bottom: 0;
    }
    &-ingredients{
        height: 25px;
        width: 375px;
        background: yellow;
        border-radius: 10px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        position: absolute;
        top: 100px;
        left: 15px;
        &::after{
            content: '';
            height: 75px;
            width: 450px;
            border-radius: 50px;
            background: brown;
            position: absolute;
            top: 25px;
            right: -35px;
        }
        &::before{
            content: '';
            height: 35px;
            width: 400px;
            border-radius: 50px;
            background: pink;
            position: absolute;
            top: 100px;
            right: -10px;
        }
    }

}















